*{
    margin: 0;
    padding: 0;
}
.head{
    text-align: center;
}
.container{
    border: 1px solid black;
    height: 500px;
    width:500px;
    margin-top: 130px;
    padding: 20px;
}
input{
    width: 350px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
    
}
 button{
    width: 80px;
    background-color:lightblue;
    color: white;
    border-radius: 10px;
}
 #add{ 
    /* border: 1px solid black;  */
    margin-left: 20px;
    margin-top: 20px;
}

